{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'core/css/style.css' %}"> -->
    <title>Find CoWIN Slot</title>
</head>

<body style="font-family: Arial, Times, serif; background: #1c92d2; background:-webkit-linear-gradient(to right,#1c92d2, #f2fcfe); background: linear-gradient(to right, #1c92d2, #f2fcfe); color: rgb(29, 87, 138)">

   
    {% include 'core/navigationbar.html' %} <br>

    <form method="get" action="{% url 'find_by_pin' %}" align="center">
        <input type="search" name="pin" placeholder="Search by PINCODE" aria-label="Search">
        <button type="submit">Search</button> 

    <div>
        {% block content %}
        {% endblock content %}
    </div> <br>

    {% include 'core/footer.html' %}

</body>
</html>