<h1 align="center" style="color: rgb(29, 87, 138)">Co-WIN SLOT FINDER</h1>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 87, 138);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
  }

  li a:hover {
    background-color: skyblue;
  }
</style>

<ul style="  list-style-type: none; margin: 0; padding: 0;overflow: hidden;">
  <li style="float: left;   display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;">
    <a href="/">HOME</a>
  </li>
  <li style="float: left;   display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;">
    <a href="https://selfregistration.cowin.gov.in/selfregistration"> Co-WIN Register/Sign-In</a>
  </li>
  <li style="float: left;   display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;">
    <a href="">About Us</a>
  </li>
</ul>

<hr>
<!-- <marquee direction="left"><b>Co-WIN Registrations</b> - 47.63 Crores + 35.03 Lakhs Yesterday <b>Vaccinations
    Delivered</b> - 51.82 Crores
  + 41.31 Lakhs Yesterday, <b>Fully Vaccinated</b> - 11.43 Crores + 10.86 Lakhs Yesterday <a
    href="https://dashboard.cowin.gov.in/">Click to go to Co-WIN Dashboard</a></marquee> -->
<hr>
<br>